@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4 {
  font-weight: 700;
  font-family: Montserrat;
}
section {
  background: #fff;
}
.topbar {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index:9;
  height: 120px;
}
.topbar .cta {
  margin: 15px 0 0;
}
.logo {
  width: 100%;
  max-width: 140px;
  margin: 8px 0 8px 40px;
  float: left;
  transition: width 0.5s;
}
.mobile-menu, .close-btn {
  display:none;
  position: absolute;
  right: 50px;
  top: 40px;
  font-size:30px;
  transition: display 0.5s;
}
nav {
  margin: 40px 0 0 100px;
  float: left;
}
nav a {
  color: #463939;
  font-size: 15px;
  display: inline-block;
  margin: 0 20px 0 0;
}
nav ul li {
  display: inline-block;
}
#hero {
  background: url('../img/woodward-plumbing-and-heating-photo.png') no-repeat center center fixed;
  background-size: cover;
  margin: 120px 0 0;
  position: relative;
  width: 100%;
  min-height: 800px;
}
.hero-content {
  margin: 50px 0;
  background: rgba(0, 0, 0, 0.9);
  height: 500px;
  width: 700px;
  right: 0;
  position: absolute;
  padding: 40px;
  font-family: 'Roboto';
}
.hero-content h2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  max-width: 500px;
  margin: 0 0 50px;
}
.smallHeadline {
  color:rgb(245, 207, 0);
  font-size: 20px;
  margin-top: 50px;
}
.selected {
  border-bottom: 2px solid #000;
}
.selected li {
  padding: 0 0 2px 0;
}
.cta button:hover {
  cursor: pointer;
}
.cta button {
  background-color: #f5cf00;
  color: #000;
  border: 1px solid #f5cf00;
  width: 220px;
  height: 54px;
  font-weight: bold;
}
.clear-cta button {
  border: 1px solid #fff;
  background: transparent;
}
.cta button:hover {
  background-color: transparent;
  color: #f5cf00;
}
.top-cta {
  position: absolute;
  right: 200px;
  margin: 30px 0 0;
}

/*Section 1*/
.section1 {
  background: #fff url('../img/tools.png') no-repeat 100px 0;
  padding: 100px 0;
  background-size:100%;
}
.section1 h2 {
  font-size: 40px;
  max-width: 450px;
}
.section1 p{
  max-width: 450px;
  margin: 40px 0;
  font-size:18px;
}

/*Section 2*/
.phone-icon, .calendar-icon, .house-icon {
  max-width:50px;
  margin: 0 auto;
  display:block;
  color: #fff;
}
.section2  {
  color: #fff;
  background: #000;
  width: 100%;
  padding: 20px 0;
}
.section2 svg {
  fill: #fff;
}
.section2 h2 {
  font-size: 32px;
  text-align: center;
  margin: 40px 0;
}
.section2 h3 {
  text-align: center;
}
.section2 .cta {
  display: block;
  margin: 30px auto;
  max-width: 220px;
}

/*Section 3*/
.section3 {
  padding: 100px 0;
}
.section3 h3 {
  font-size: 18px;
  text-align: center;
}
.section3 svg {
  max-width: 50px;
  fill:#f5cf00;
  display:block;
  margin: 0 auto;
}
.section3 .cta {
  display:block;
  margin: 50px auto;
  text-align: center;
}

/*Section 4*/
.section4 {
  width: 100%;
  padding: 100px 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/toolman.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.section4 h2 {
  font-size: 40px;
  text-align: center;
  color:#fff;
}
.section4 .clear-cta {
  display:block;
  margin: 50px auto;
  text-align: center;
}
.section4 .clear-cta button{
  padding: 15px 50px;
  color:#fff;
  font-weight: bold;
}
.section4 .clear-cta button:hover {
  color:#000;
  background: #fff;
}

/*Section 5*/
.section5 {
  padding: 50px;
}
.section5 p {
  font-style: italic;
  color: #777;
  font-size:16px;
}
.section5 h3 {
  font-size: 16px;
}
.section5 .cta {
  display:block;
  margin: 50px auto;
  text-align: center;
}
.section5 .container {
  margin: 0 auto;
}
.section5 .row {
  margin: 0 auto;
}
.section5 svg {
 fill: #ccc;
 max-width: 20px;
}

footer {
  background: #000;
  padding:20px 0 0px;
  color: #fff;
  text-align: center;
}
footer svg {
max-width: 80px;
fill: #fff;
}
footer .fa {
  font-size: 24px;
  padding-right: 10px;
  text-align: left;
}
footer h3, footer p {
  text-align: left;
}
.copyright {
  color: #fff;
  text-align: center;
  display:block;
  background: #222;
  margin:10px 0 0;
  padding: 5px 0;
}



/*Responsive*/
@media screen and (max-width: 1366px) {

}

@media screen and (max-width: 991px) {
  .topbar {
    height:80px !important;
    position: initial;
  }
  .logo {
    margin: 8px 0;
    max-width: 90px;
  }
  nav {
    display: none;
    position : absolute;
    background: #000;
    width: 100%;
    padding:20px;
    right: 0;
    top: -40px;
    z-index: 8;
  }
  nav a {
    display: block;
    text-align: center;
    padding: 3px 10px;
    color:#fff;
  }
  .close-btn {
    z-index:9;
    color: #fff;
    top: 10px;
  }
  .top-cta {
    display: none !important;
  }
  .mobile-menu {
    display: block;
    top: 20px;
  }
  #hero {
    margin: 0;
    min-height: 450px;
  }
  .hero-content {
    margin: 0;
    height: auto;
    width: 450px;
    padding: 30px;
  }
  .smallHeadline {
    font-size: 16px;
    margin: 0;
  }
  .hero-content h2 {
      font-size: 36px;
      margin: 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .hero-content {
    width: 300px;
    padding: 20px;
  }
}
@media screen and (max-width: 480px) {
  h2, h3, p, .cta {
    text-align: center !important;
    display: block;
  }
  .section1 {
    background: none;
    padding: 5px 0 25px;
  }
  .section2 {
    padding: 0 0 15px;
  }
  .section2 h3 {
    margin-top:10px;
  }
  .section2 h2 {
    font-size: 30px;
    margin: 30px 15px;
  }
  .section2 p {
    max-width: 350px;
    margin: 0 auto;
  }
  .section3 {
    padding: 15px 0 0;
  }
  .section4 {
    padding: 15px 0 0;
  }
  .section4 h2 {
    font-size: 30px;
  }
  .section5 {
    padding: 15px 0 0;
  }
  footer {
    padding: 15px 0 10px;
    text-align: center;
  }
  footer .logo {
    display:none;
  }
  footer .col-md-4 {
    width: 100% !important;
    display: block;
    margin: 0 auto;
  }
  .copyright {
    font-size:14px;
    max-width: 350px;
    margin:0 auto;
  }
  .hero-content {
    margin: 0;
    height: auto;
    width: 100%;
    padding: 30px;
  }
  .hero-content .cta {  
    display: block;
    text-align: center;
  }
  .smallHeadline {
    font-size: 16px;
    text-align: center;
    margin: 0;
  }
  .hero-content h2 {
    font-size: 36px;
    margin: 20px 0;
    text-align: center;
  }
}