@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
section {
  background: #fff;
}
.topbar {
  background: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 5px 60px;
  z-index:9;
}
.topbar .cta {
  margin: 15px 0 0;
}
.logo {
  width: 138px;
  height: 90px;
  margin: 8px 0 8px 40px;
  float: left;
}
nav {
  margin: 40px 0 0 100px;
  float: left;
}
nav a {
  color: #463939;
  font-size: 15px;
  display: inline-block;
  margin: 0 20px 0 0;
}
nav ul li {
  display: inline-block;
}
#hero {
  background: url('../img/woodward-plumbing-and-heating-photo.png') no-repeat center center;
  background-size: cover;
  margin: 120px 0;
  position: relative;
  width: 100%;
  min-height: 800px;
}
.hero-content {
  margin: 50px 0;
  background: rgba(0, 0, 0, 0.9);
  height: 500px;
  width: 700px;
  right: 0;
  position: absolute;
  padding: 40px;
  font-family: 'Roboto';
}
.hero-content h2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 60px;
  max-width: 500px;
  margin: 0 0 50px;
}
.smallHeadline {
  color:rgb(245, 207, 0);
  font-size: 20px;
  margin-top: 50px;
}
.selected {
  border-bottom: 2px solid #000;
}
.selected li {
  padding: 0 0 2px 0;
}
.cta button:hover {
  cursor: pointer;
}
.cta button {
  background-color: #f5cf00;
  color: #000;
  border: 1px solid #f5cf00;
  width: 220px;
  height: 54px;
  font-weight: bold;
}
.cta button:hover {
  background-color: transparent;
  color: #f5cf00;
}
.top-cta {
  position: absolute;
  right: 200px;
}


